@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.app_circle_cards {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__circle {
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    // background-color: yellow;
    position: absolute;
    top: 50%;
    right: calc(1rem + 150px);
    transform: translateY(-50%);

    &__divider {
      position: absolute;
      top: 50%;
      right: calc(1rem + 50px);
      width: 200px;
      height: 2px;
      background-color: #666;
      // transform: translateX(100px);
      border-radius: 1px;
    }

    &__item {
      // background-color: blue;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      &__box {
        height: 100px;
        &__year {
          color: #555;
          text-align: center;
          font-family: "Playfair Display", serif;
          font-size: 24px;
        }

        &__title {
          color: #555;
          text-align: center;
          font-family: "Playfair Display", serif;
          font-style: italic;
          font-size: 24px;
        }

        &__details {
          text-align: center;
          font-size: 14px;
          line-height: 18px;
        }
      }

      &__box.up {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  &__outline {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #666;
    top: 50%;
    right: 0;
    transform: translate(65%, -50%);
  }

  &__center__line {
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 1px;
    border-color: #666;
    width: 250px;
    height: 2px;
    transform: translate(-50%, -50%);
  }
}
