@import "circle-cards";

body {
  // overscroll-behavior-y: contain;
  // overflow: hidden; /* Prevents overscroll */
}

.app_grid_canvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: none;
}

.app_grid_root {
}

.app_grid_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-wrap: nowrap;

  &__name {
    font-size: 26px;

    @include screen("sm") {
      font-size: 16px;
    }
  }
}
