:root {
  --category-con: 56px;
  --category-item: 50px;

  @include screen("sm") {
    --category-con: 50px;
    --category-item: 44px;
  }
}

.app_category_options {
  position: relative;
  width: var(--category-con);
  height: var(--category-con);
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: var(--category-item);
    height: var(--category-item);
    border-radius: 50%;
    background: #f5f5f5;

    &__border {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--category-con);
      height: var(--category-con);
      border-radius: 50%;
      border: 2px solid #a8fcc2;
    }

    &__img {
      overflow: hidden;
      width: var(--category-item);
      height: var(--category-item);
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
